# Python
__pycache__/
*.py[cod]
*.egg-info/
.python-version
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Env
.env

# Editors
.idea/
.vscode/

# Build / dist
dist/
build/

# Docker
.docker-cache

